<form class="example-form" [formGroup]="searchForm">
  <mat-form-field class="example-full-width">
    <mat-label>Search Location</mat-label>
    <input matInput placeholder="Ex. SnakePlanet" value="" type="text" name="" formControlName="search"
      placeholder="Search Location" id="">
  </mat-form-field>
  <!-- <button mat-icon-button (click)="changeThemes()">
    <mat-icon>{{isLight ? "dark_mode" : "light_mode"}}</mat-icon>
  </button> -->
</form>




<mat-grid-list cols="3" *ngIf="locationList?.length" class="container">
  <mat-grid-tile *ngFor="let location of locationList">
    <app-location [location]="location"></app-location>
  </mat-grid-tile>
</mat-grid-list>




<mat-grid-list cols="3" class="container" *ngIf="!locationList?.length">
  <mat-grid-tile *ngFor="let location of locations">
    <app-location [location]="location"></app-location>
  </mat-grid-tile>
</mat-grid-list>
