.example-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-left: 1vw;
}

.mat-form-field-input {
  font-family: 'Fredoka One', cursive !important;
}


.container {
  height: max-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  // box-sizing: border-box;
  // border: 4px solid black;


}

.main-title {
  font-family: 'Fredoka One', cursive;
}


.toolbar-container {
  display: flex;
  justify-content: space-between;
}



.mat-grid-list {
  margin-top: 0px;
  padding-top: 0px;
}

// .example-full-width{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   max-width: max-content;
// }


.buttons-under-toolbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3vw;
  padding: 10px;
}

// .mat-grid-list {
//   margin-bottom: -300px; /* Riduce il margine inferiore della griglia */
// }

// .mat-grid-tile {
// padding:-300px
// }


.card-padding {
  padding: 1900px;
  /* Imposta il valore di padding desiderato */
}


.changingPagesBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  font-size: 20px;
}


.smallPages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  font-size: 11px;
}
