.example-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35vh;
  width: 35vh;
  border-radius: 40px;
  color: white;
}

.subtitle {
  color: gray;
}


.transparent-image::after {
  background-image: url('./location-assets/c930c-clickwallpapers-rickandmorty-desenho-4k-img8-minbase-scaled-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.4;

}


.text{
  opacity: 1 !important;

}
