.example-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
  height: 35vh;
  width: 35vh;
  border-radius: 40px;
  color: black;
}

.subtitle{
  color: gray;
}

.transparent-image {
  content: "";
  background-color: #90e9f5be;
  background-image: url('./episode-assets/751400.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.8;

}


.text{
  opacity: 1 !important;
}



