<mat-toolbar class="toolbar">
  <mat-toolbar-row class="toolbar-container">
    <button type ="button" routerLink=""><span class="main-title">Rick and Morty API</span></button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="buttons-under-toolbar">
  <button class="pathButtons"  mat-fab extended color="secondary" type ="button" routerLink="/character">
    Character
  </button>

  <button class="pathButtons"  mat-fab extended color="secondary" type ="button" routerLink="/location">
    Location
  </button>

  <button class="pathButtons"  mat-fab extended color="secondary" type ="button" routerLink="/episodes">
    Episodes
  </button>
</div>
<router-outlet></router-outlet>
