.image-title {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/Rick-And-Morty-PNG-High-Quality-Image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff; /* colore del testo */
  text-align: center;
  padding: 20px;
}


.container{
  height: max-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  // box-sizing: border-box;
  // border: 4px solid black;


}

.main-title{
  font-family: 'Fredoka One', cursive;
}


.toolbar{
  background-color: #4dd0e1c0;

}

.toolbar-container{
  display: flex;
  justify-content: space-between;

  button{
    all: unset;
    cursor:pointer;

  }
}

.example-form{
  padding-top: 20px;
}


.mat-grid-list{
  margin-top: 0px;
  padding-top: 0px;
}

// .example-full-width{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   max-width: max-content;
// }


.buttons-under-toolbar{
  display: flex;
  justify-content:space-evenly;
  margin-top: 3vw;
  padding: 10px;


}

.pathButtons{
  background-color: rgba(70, 238, 238, 0.781);
  border: 2px solid yellow;
  border-radius: 24px;
  padding: 15px;
  font-size: 20px;
  color: black;
  // -webkit-text-stroke-width: 0.5px !important;
  // -webkit-text-stroke-color: yellow !important;
  font-family: 'Get Schwifty', cursive !important;
}


button{
  all: unset;
  cursor:pointer;

}
