/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD
html, body { height: 100%; width: 100%; }
body { margin: 0;   font-family: 'Fredoka One'; background-color: #80DEEA;}
=======
html, body { height: 100%; }
body { margin: 0; font-family: "Roboto", "cursive" ;background-color: #80DEEA;}
>>>>>>> f199a458b2d2a51abbb75c4cd8b91f8f29b5966a
